# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3

# Dependencies
node_modules/

# Environment variables
.env
*.env
.env.local
.env.production

# Virtual environment
venv/
env/
ENV/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log


*.dump

# macOS / Windows system files
.DS_Store
Thumbs.db

